{% extends "layout.njk" %}

{% block pagina %}

<h1 class="page-header">Relação de Usuários</h1>

{% if isAuth %}
  <a href="/add" class="btn btn-outline-success" style="margin-bottom: 15px;">
    <i class="fas fa-user-plus"></i>
    Novo Usuário
  </a>

{% endif %}

<div class="row">


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Usuário</th>
      <th scope="col">Login</th>
      <th scope="col">e-mail</th>
      <th scope="col">Ativo</th>
      <th scope="col">
        {% if isAuth %}
          Operações
        {% endif %}
      </th>
    </tr>
  </thead>
  <tbody>

  {% for usuario in usuarios %}
    <tr>
      <th scope="row"></th>
      <td>{{usuario.id_usuario}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.login}}</td>
      <td>{{usuario.email}}</td>
      <td>
        {% if usuario.ativo==1 %}
          <i class="fas fa-check-circle text-success"></i>
        {% else %}
          <i class="fas fa-times-circle text-danger"></i>
        {% endif %}
      </td>
      <td>
        {% if isAuth %}
          <p>
            <a href="/edit/{{usuario.id_usuario}}" class="btn btn-outline-primary">
              <i class="fas fa-pencil-alt"></i>
              Editar
            </a>
            <button class="btn btn-outline-danger" onClick="excluir({{usuario.id_usuario}})">
                <i class="fas fa-trash-alt"></i>
                Excluir
            </button>
          </p>
        {% endif %}
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

</div>

<script>
  function excluir(id) {
    const r = confirm("Tem certeza que deseja excluir este registro?");

    if (r) {

      const form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/delete/" + id);

      const deleteInput = document.createElement("input");
      deleteInput.setAttribute("type", "hidden");
      deleteInput.setAttribute("name", "_method");
      deleteInput.setAttribute("value", "delete");

      form.appendChild(deleteInput);

      document.body.appendChild(form);
      form.submit();

    }
  }
</script>

{% endblock %}
