{% extends "layout.njk" %}

{% block pagina %}

  <h1 class="page-header">Edição de Usuário</h1>
  <div class="col-md-6">
    <form action="/password/{{usuario.id_usuario}}" method="post">

      <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" id="senha" placeholder="Entre com a nova senha">
      </div>
      
      <div class="form-group">
          <label for="confirmaSenha">Confirmar Senha</label>
          <input type="password" class="form-control" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme a nova senha">
      </div>

      <input type="hidden" name="_method" value="put">
      
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="/edit/{{usuario.id_usuario}}" class="btn btn-secondary">Voltar</a>
      
    </form>
  </div>

{% endblock %}
